.marketplace-bg {
    background-color: skyblue;
    background-image: url('../../images/marketplaceBG.png'); 
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}