.lobby-bg {
    background-color: skyblue;
    background-image: url('../../images/lobbyBG.png'), url("../../images/lobbyMin.png"); 
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.continue-btn-cstm {
    color: white;
    text-shadow: 3px 3px black;
    -webkit-text-stroke-width: .005px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 3vw;
    background-color: rgba(171, 41, 41, 0.7);
    border: solid 2px rgb(72, 72, 72);
}

.continue-btn-cstm:hover {
    transition: 250ms;
    background-color: rgba(171, 41, 41, .9);
    border: solid 2px black;
}

.warning-cstm {
    background-color: rgba(118, 13, 13, 0.6);
    text-shadow: 4px 5px black;
    -webkit-text-stroke-color: black;
}

.cardBtn {
    background-color: rgba(171, 41, 41, 0);
    border: none;
}

.cardBtn-active {
    background-color: rgba(171, 41, 41, .8);
    border: none;
}

.signup-cstm {
    background-color: rgb(171, 41, 41);
    border: solid 1px rgb(171, 41, 41);
}

.signup-cstm:hover {
    background-color: rgb(144, 17, 17);
    border: solid 1px rgb(144, 17, 17);
}

.modalBg-header, .modalBg-body, .modalBg-footer, .signupBg-footer {
    background-image: url(../../images/homeBG.png);
    border: none;
}

.modalBg-header {
    background-position: top;
}

.modalBg-body {
    background-position: right top;
}

.modalBg-footer {
    background-position: 100% 18.5%;
}

.signupBg-footer {
    background-position: 100% 26.5%;
}

@media only screen and (max-width: 750px) {
    .continue-btn-cstm {
        font-size: 33px
    }
}