.card-container,
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  pointer-events: none;
}

.creature {
  border: 2px solid black;
  padding: 4px;
  margin: 5px;
  text-align: center;
  max-width: 270px;
  height: 380px;
  display: inline-block;
}

.trickster-bg {
  /* background-color: #f99d77; */
  background: rgb(249, 157, 119);
  background: linear-gradient(35deg, rgba(249, 157, 119, 1) 0%, rgba(88, 56, 43, 1) 52%, rgba(249, 157, 119, 1) 94%);
}

.defender-bg {
  /* background-color: #E6D89Bff; */
  background: rgb(236, 221, 154);
  background: linear-gradient(35deg, rgba(236, 221, 154, 1) 0%, rgba(88, 56, 43, 1) 52%, rgba(236, 221, 154, 1) 94%);
}

.attacker-bg {
  /* background-color: #B1E0D6ff; */
  background: rgb(177, 224, 214);
  background: linear-gradient(35deg, rgba(177, 224, 214, 1) 0%, rgba(49, 62, 59, 1) 55%, rgba(177, 224, 214, 1) 100%);
}

.creature-image {
  border: 2px solid black;
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.creature-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  max-width: 100%;
}

.purchase-button {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  max-width: 100%;
  width: 270px;
  border: 2px solid black;
}

.stats {
  max-width: 80%;
  margin-right: 0px !important;
  margin-left: 10% !important;
}

.attack,
.health {
  width: auto !important;
  font-size: 28px !important;
}

.health-container {
  margin-right: 10%;
  margin-top: 0px !important;
  font-size: 28px !important;
}

.attack-container {
  font-size: 28px !important;
}

.health-icon,
.attack-icon {
  width: 28px;
  height: 28px;
}

@media (max-width: 768px) {
  .creature {
    max-width: 200px;
    height: 280px;
  }

  .creature-image {
    max-width: 80%;
  }

  .card-title {
    font-size: 18px;
  }

  .purchase-button {
    width: 200px;
  }

  .stats {
    max-width: 80% !important;
    margin-right: 0px !important;
    margin-left: 10% !important;
  }

  .attack,
  .health {
    width: auto !important;
    font-size: 20px !important;
  }

  .health-container {
    margin-right: 10%;
    margin-top: 0px !important;
    font-size: 20px !important;
  }

  .attack-container {
    font-size: 20px !important;
  }

  .health-icon,
  .attack-icon {
    width: 22px;
    height: 22px;
  }
}


@media (max-width: 480px) {
  .creature {
    max-width: 100px;
    height: 190px;
    padding-top: 0px;
    margin: 1px 4px 1px 4px;
  }

  .creature-image {
    max-width: 100%;
  }

  .card-title,
  .purchase-button {
    font-size: 14px !important;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  .purchase-button {
    width: 100px;
  }

  .stats {
    max-width: 80% !important;
    margin-right: 0px !important;
    margin-left: 3% !important;
  }

  .attack,
  .health {
    width: auto !important;
    font-size: 14px !important;
  }

  .health-container {
    margin-right: 10%;
    margin-top: 0px !important;
    font-size: 14px !important;
  }

  .attack-container {
    font-size: 14px !important;
  }

  .health-icon,
  .attack-icon {
    width: 15px;
    height: 15px;
  }

}