.game-bg {
  background-image: url("../../images/dungeonBG.png"), url("../../images/dungeonMin.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
