/* CARD */
.card-container, .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .creature {
    border: 2px solid black;
    padding: 4px;
    margin: 5px;
    text-align: center;
    max-width: 270px;
    height: 370px;
    display: inline-block;
  }

    .trickster-bg {
      background-color: #D27C59ff;
        }
  
    .defender-bg {
      background-color: #72764Aff;
    }
  
    .attacker-bg {
      background-color: #B1E0D6ff;
    }
  
  .creature-image {
    border: 2px solid black;
    max-width: 70%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .creature-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    max-width: 100%;
  }

  .purchase-button {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    max-width: 100%;
    width: 270px;
    border: 2px solid black;
  }

/* Media Queries for Responsive Cards */
@media (max-width: 768px) {
  .creature {
    max-width: 200px;
    height: 300px;
  }

  .creature-image {
    max-width: 80%;
  }

  .card-title {
    font-size: 18px;
  }

  .purchase-button {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .creature {
    max-width: 100px;
    height: 200px;
    padding-top: 0px;
    margin: 1px 4px 1px 4px;
  }

  .creature-image {
    max-width: 100%;
  }

  .card-title, .purchase-button {
    font-size: 14px; 
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  /* .purchase-button::before {
    content: "Purchase"; 
  } */

  .purchase-button {
    width: 100px;
  }

}
