.marketplace-bg {
    background-color: skyblue;
    background-image: url('../../images/marketplaceBG.png'), url("../../images/marketplaceMin.png"); 
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.purchase-button {
    background: rgb(240,222,191);
    background: linear-gradient(90deg, rgba(240,222,191,1) 0%, rgba(128,119,103,1) 52%, rgba(240,222,191,1) 100%);
}

@media (max-width: 768px) {
    .purchase-button {
        color: black;
    }
}

@media (max-width: 768px) {
    .purchase-button {
        color: black;
    }
}