.marketplace-bg {
    background-image: url('../../images/marketplaceBG.png'); 
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trade-container {
    background-color: #F0DEBF;
    background: rgb(240,222,191);
    background: linear-gradient(90deg, rgba(240,222,191,1) 0%, rgba(128,119,103,1) 52%, rgba(240,222,191,1) 100%);
    border-radius: 10px;
    border: 2px solid black !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.trade-card-container {
    padding: 25px;
}

.carousel-indicators {
    padding: 3px;
}